.logotip {
    position: relative;
    height: 100%;
    background-color: black;

   
   
    &__wrapper {
        max-height: 100px;
        background-color: black;
        display: flex;
        justify-content: flex-start;
        align-items:center;
    
    }
    .fa-instagram:before {
        margin-left: 30px;
        content: "\f16d";
        color: #fff;
    }
    .fa-vk:before {
        margin-left: 30px;
        content: "\f189";
        color: #fff;
    }
    &__social {
        margin-left: 185px;
        display: grid;
        grid-template-columns: 474px 232px 39px 230px;
        justify-content: space-between;
        align-items: center;


    }
    &__logo {
		img {
            margin-top: 23px;
            max-height: 133px;
            &:hover {
                transform: scale(1.1);
            }
           
        }
        }
    &__loco {
        margin-left: 5px;
        color:#fff;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
			color: #fff;
        }
    }
   
    &__phone {
        margin-left: 5px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
			color: #fff;
        }
        

    }
    }
    
