.logotip {
    
    background-color: black;

   
   
    &__wrapper {
        max-height: 100px;
        background-color: black;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        .fa-map-marker::before {
            content: "\f041";
            margin-left: 80px;
        }
        .fa-phone::before {
            content: "\f095";
            margin-left: 100px;
        }
    
    }
    
    &__social {
        margin-left: 185px;
        display: grid;
        grid-template-columns: 513px 300px;
        justify-content: space-between;
        align-items: center;


    }
    &__logo {
		img {
            margin-top: 23px;
            max-height: 133px;
            &:hover {
                transform: scale(1.1);
            }
           
        }
        }
    &__loco {
        margin-left: 5px;
        color:#fff;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
			color: #fff;
        }
    }
   
    &__phone {
        margin-left: 5px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
			color: #fff;
        }
        

    }
    }

    
