ul {
    list-style: none;
 }
  .topmenu {
    
    background: black;
 }
  .topmenu a {
    text-decoration: none;
    display: block;
    transition: .4s ease-in-out;
    &:hover {
      text-decoration: none;
      color: white;

      }     
   }
   .topmenu>li>a {
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;
    &:hover {
       text-decoration: none;
       color: white;

    }
 }
 
 .topmenu li a:hover {
    color: #fff;
 }
 
 .submenu li a {
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    color: #fff;
    font-family: 'Kurale', serif;
 }

 @media(max-width: 599px) {
    .topmenu>li>a {
       padding: 15px 20px;
    }
    .submenu li a {
       padding: 10px 20px;
       margin: 0 20px;
    }
 }
 
